In [3]:
import pickle

teste = pickle.load(open(r'C:\Users\ana_c\OneDrive\Documentos\GitHub\DataCamp\Exercises\Joining Data with pandas\Files\business_owners.p', 'rb'))

teste.head()

  account first_name  last_name      title
0      10      PEARL    SHERMAN  PRESIDENT
1      10      PEARL    SHERMAN  SECRETARY
2   10002     WALTER     MROZEK    PARTNER
3   10002     CELINA     BYRDAK    PARTNER
4   10005      IRENE  ROSENFELD  PRESIDENT